<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LARICA HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>
<main>

    <body>
        {% extends 'Navbar.html' %}


        {% block content %}

        <div class="container mt-5">
            <h1 class="text-center">Inserir Receita</h1>
            <form action="/enviaReceita" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nome_receita">Nome da Receita</label>
                    <input type="text" class="form-control" id="nome_receita" name="nome_receita"
                        placeholder="Digite o nome da receita" required>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" id="categoria" name="categoria" required>
                        <option value="" disabled selected>Selecione uma categoria</option>
                        <option value="doces">Doces</option>
                        <option value="salgados">Salgados</option>
                        <option value="bebidas">Bebidas</option>
                        <option value="entradas">Entradas</option>
                        <option value="massas">Massas</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fontes_links">Fontes/Links</label>
                    <input type="text" class="form-control" id="fontes_links" name="fontes_links"
                        placeholder="Digite o link da fonte" required>
                </div>
                <div class="form-group">
                    <label for="ingredientes">Ingredientes</label>
                    <textarea class="form-control" id="ingredientes" name="ingredientes" rows="3"
                        placeholder="Digite os ingredientes" required></textarea>
                </div>
                <div class="form-group">
                    <label for="instrucoes">Instruções</label>
                    <textarea class="form-control" id="instrucoes" name="instrucoes" rows="3"
                        placeholder="Digite as instruções" required></textarea>
                </div>
                <div class="form-group">
                    <label for="porcoes">Porções</label>
                    <input type="number" class="form-control" id="porcoes" name="porcoes"
                        placeholder="Digite o número de porções" required>
                </div>
                <div class="form-group">
                    <label for="tempo_preparo">Tempo de Preparo (minutos)</label>
                    <input type="number" class="form-control" id="tempo_preparo" name="tempo_preparo"
                        placeholder="Digite o tempo de preparo" required>
                </div>

                <div class="form-group">
                    <label>Essa receita pode ser pública?</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="publico" id="publico_sim" value="true" required>
                        <label class="form-check-label" for="publico_sim">
                            Sim
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="publico" id="publico_nao" value="false" required>
                        <label class="form-check-label" for="publico_nao">
                            Não
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="imagem">Foto da receita</label>
                    <input type="file" class="form-control" id="imagem" name="imagem" accept="image/*" required>
                </div>

                <button type="submit" class="btn btn-success btn-block">Salvar Receita</button>
            </form>
        </div>
        {% endblock %}
    </body>
</main>

</html>